html,body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(135deg,#d5eaff,#dfdfdf) !important;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px !important;
    
}
#cabecalho{
    font-family: 'Times New Roman', Times, serif;
    background:linear-gradient(135deg,#9dc3e1,#b0daff);
    /*background-color: #cca9dd;*/
    text-align: center;
    color: white;
    height: 8%;
    margin-bottom: 1.25em;
}

/* Estilos para a div do formulário */
#form_ad {
    width: 23%;
    min-width: 195px;
    margin-top: 0.20em;
    padding: 0;
    border: 1px solid linear-gradient(to bottom,#9F44D3,#E2B0FF);
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: width 0.5s;
    position:absolute;
    top: 49%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 999;
    
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* Opcional - ajuste a margem conforme necessário */
}


#inputs {
    padding: 1.25em;
}
/* Estilos para o cabeçalho da div do formulário */
#headerForm {
    background-color: #578cdd;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0.625em;
}

/* Estilos para a tabela*/
#tabela {
    background-color: #FAF3E0;
    width: 80%;
    height: 70%;
    border-radius:0 0 10px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s, transform 0.5s;
}
#tabela.move {
    transform: translateX(-30%);
}
#headertable {
    font-family: 'Times New Roman', Times, serif;
    background-color: #578cdd;
    color: white;
    width: 80%;
    border-radius:10px 10px 0 0;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: width 0.5s, transform 0.5s;
}
#headertable.move {
    transform: translateX(-30%);
}
#grupo-botao{
    margin: 0;
}


@media (max-width: 768px) {
    body{
        font-size: 14px !important;
    }
    #cabecalho {
        height: 10%;
    }
}